/*=============== VISUALIZADOR PAGE ===============*/
.canvas__section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canvas__drag-drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    padding: 2rem 4rem;
    z-index: 1;
}

.canvas__section p {
    text-align: center;
}

.canvas__section .btn {
    margin: auto;
    margin-top: 2rem;
}

.full-screen {
    position: absolute;
    width: 100%;
    height: 100%;
}

app-header::ng-deep .header {
    background-color: var(--white-color);
}

app-header::ng-deep .header__content{
    height: var(--small-header);
}