<app-header></app-header>
<section class="canvas__section">
  <div class="canvas__drag-drop" *ngIf="!isFile" [ngsReveal]="{ origin: 'bottom', delay: 700 }">
    <h2 class="section__title">VisualizadorUAM</h2>
    <p>
      Eliga su archivo en formato JSON que desee visualizar.
    </p>
    <!-- <a href="#" class="btn btn-primary"></a> -->
    <input hidden type="file" #uploader (change)="uploadFile($event)" />
    <button (click)="uploader.click()" class="btn btn-primary">
        Abrir Archivo
    </button>
  </div>
  <app-canvas class="full-screen"></app-canvas>
</section>
