<!-- Header Start -->
<app-header></app-header>
<!-- Header End -->

<!-- Canvas Section Start -->
<section class="canvas__section">
  <!-- Canvas DragAndDrop Start -->
  <div
    class="canvas__drag-drop"
    *ngIf="!isFile"
    [ngsReveal]="{ origin: 'bottom', delay: 700 }"
  >
    <h2 class="section__title">VisualizadorUAM</h2>
    <p>
      Para comenzar a utilizar el visualizador utiliza el botón "Abrir Archivo" y seleciona un archivo de formato JSON válido para continuar...
    </p>
    <input hidden type="file" #uploader (change)="uploadFile($event)" />
    <button (click)="uploader.click()" class="btn btn-primary">
      Abrir Archivo
    </button>
  </div>
  <!-- Canvas DragAndDrop End -->

  <!-- Canvas Component Start -->
  <app-canvas class="full-screen"></app-canvas>
  <!-- Canvas Component End -->
</section>
<!-- Canvas Section End -->

<!-- Toogle Menu Start -->
<div class="toogle-menu" [ngsReveal]="{ origin: 'bottom', delay: 900 }" (click)="openMenu()">
  <i class="bx bx-menu"></i>
</div>
<!-- Toogle Menu End -->

<!-- Menu Component Start -->
<app-menu class="menu" id="menu" (isClose)="closeMenu()" (isActive)="openFile()"></app-menu>
<!-- Menu Component End -->


