<app-header></app-header>

<!-- HERO BANNER -->
<section class="hero-banner">
  <div class="hero-banner__content container">
    <div class="hero-banner__text">
      <h3>Universidad Autónoma Metropolitana</h3>
      <h1>Visualizador UAM</h1>
      <p>
        Cras eget nibh eget dolor ultricies lacinia et sed turpis. Duis gravida
        efficitur fringilla. Maecenas sodales purus et dignissim hendrerit.
        Nullam est ipsum.
      </p>
      <div class="btn-group">
        <a href="visualizador.html" class="btn btn-primary"
          >Abrir Visualizador</a
        >
        <a href="#" class="btn btn-secondary">¿Cómo Funciona?</a>
      </div>
    </div>
    <!-- <img class="hero-banner__panther" src="assets/img/panther.png" alt="panther"> -->
  </div>
  <div class="hero-banner__waves">
    <svg
      viewBox="0 0 500 150"
      preserveAspectRatio="none"
      style="height: 100%; width: 100%"
    >
      <path
        d="M-20.03,64.64 C137.97,205.77 329.28,18.27 501.41,95.23 L513.82,172.22 L-14.39,180.11 Z"
        style="stroke: none; fill: #fff"
      ></path>
    </svg>
  </div>
</section>

<!-- MAIN SECTION -->
<main class="main__section" id="main__section">
  <div class="container">
    <h2 class="section__title">¿Qué es VisUAM?</h2>
    <div class="main__card">
      <div class="main__card-image">
        <img src="assets/img/feature1.png" alt="Feature1 Image" />
      </div>
      <div class="main__card-text">
        <h3 class="section__subtitle">Visualiza desde un JSON</h3>
        <p>
          Mauris blandit est quis lacinia consequat. Nullam eu odio blandit,
          laoreet nisi vel, ultrices eros. Vivamus nec nunc vel lorem luctus
          iaculis.
        </p>
        <p>
          Ut eu facilisis nibh. Suspendisse felis augue, gravida consequat
          consequat at, hendrerit et diam.
        </p>
      </div>
    </div>
    <div class="main__card">
      <div class="main__card-image">
        <img src="assets/img/feature2.png" alt="Feature1 Image" />
      </div>
      <div class="main__card-text">
        <h3 class="section__subtitle">Modelar Resultados</h3>
        <p>
          Mauris blandit est quis lacinia consequat. Nullam eu odio blandit,
          laoreet nisi vel, ultrices eros. Vivamus nec nunc vel lorem luctus
          iaculis.
        </p>
        <p>
          Ut eu facilisis nibh. Suspendisse felis augue, gravida consequat
          consequat at, hendrerit et diam.
        </p>
      </div>
    </div>
    <div class="main__card">
      <div class="main__card-image">
        <img src="assets/img/feature3.png" alt="Feature1 Image" />
      </div>
      <div class="main__card-text">
        <h3 class="section__subtitle">Modelar Resultados</h3>
        <p>
          Mauris blandit est quis lacinia consequat. Nullam eu odio blandit,
          laoreet nisi vel, ultrices eros. Vivamus nec nunc vel lorem luctus
          iaculis.
        </p>
        <p>
          Ut eu facilisis nibh. Suspendisse felis augue, gravida consequat
          consequat at, hendrerit et diam.
        </p>
      </div>
    </div>
  </div>
</main>

<!-- BANNER SECTION -->
<section class="banner">
  <div class="banner__content container">
    <h2 class="section__title">Empieza a usar el visualizador Ya!</h2>
    <p>
      Cras eget nibh eget dolor ultricies lacinia et sed turpis. Duis gravida
      efficitur fringilla. Maecenas sodales purus et dignissim hendrerit.
    </p>
    <a href="visualizador.html" class="btn btn-primary"> Abrir Visualizador </a>
  </div>
</section>

<!-- EQUIPO DE TRABAJO SECTION -->
<section class="equipo-trabajo__section section" id="equipo-trabajo__section">
  <app-equipo-section></app-equipo-section>
</section>

<!--  TECNOLOGIAS SECTION -->
<section id="tecnologias" class="section">
  <app-tecnologias-section></app-tecnologias-section>
</section>

<!-- FOOTER -->
<app-footer></app-footer>
