<!-- SITEHEADER -->
<header id="header" ngClass="scrollHeader ? 'scroll-header' : 'header'" class="header">
    <div class="header__content container">
        <div class="header__menu">
            <div class="header-logo">
                <a href="#"><span style="color: var(--dark-color);">Vis</span><span class="text-primary">UAM</span></a>
            </div>
            <button class="menu-toogle"><i class='bx bx-menu' (click)="showMenu()"></i></button>
        </div>
        <div class="header__navbar" *ngIf="isMenuActive">
            <div class="navbar__item">
                <a routerLink="/home" class="navbar__link active-link">{{"header.Inicio"|translate}}</a>
            </div>
            <div class="navbar__item">
                <a href="#main-section" class="navbar__link">{{"header.Que"|translate}}</a>
            </div>
            <div class="navbar__item">
                <a href="#equipo-trabajo__section" class="navbar__link">{{"header.GrupoTrabajo"|translate}}</a>
            </div>
            <div class="navbar__item">
                <a href="https://drive.google.com/u/0/uc?id=1iuIW8isH6cMfJhJGwSW189pDCFDRr47e&export=download" class="navbar__link" download="VISUAM_Examples">{{"header.Ejemplos"|translate}}</a>
            </div>
            <div class="navbar__item">
                <select #langSelect class="navbar__link" (change)="cambiaIdioma(langSelect.value)">
                    <option *ngFor="let lang of langs" [selected]="lang == translate.currentLang" [value]="lang">
                        {{lang}} <i class='bx bxs-down-arrow' ></i>
                    </option>
                </select>
            </div>
            <div class="navbar__item navbar-button" *ngIf="ruta != '/visualizador'">
                <a routerLink="/visualizador" class="btn btn-primary">{{"header.Abrir"|translate}}</a>
            </div>
        </div>
    </div>
</header>