<!-- SITEHEADER -->
<header id="header" ngClass="scrollHeader ? 'scroll-header' : 'header'" class="header">
    <div class="header__content container">
        <div class="header-logo" [ngsReveal]="{ origin: 'left', distance: '60px', delay: 200, duration: 600 }">
            Vis<span class="text-primary">UAM</span>
        </div>
        <div class="header__navbar">
            <div class="navbar__item" [ngsReveal]="{ origin: 'top', distance: '60px', delay: 400, duration: 600 }">
                <a routerLink="/home" class="navbar__link active-link">Inicio</a>
            </div>
            <div class="navbar__item" [ngsReveal]="{ origin: 'top', distance: '60px', delay: 500, duration: 600 }">
                <a href="#main-section" class="navbar__link">¿Qué es?</a>
            </div>
            <div class="navbar__item" [ngsReveal]="{ origin: 'top', distance: '60px', delay: 600, duration: 600 }">
                <a href="#equipo-trabajo__section" class="navbar__link">Grupo Trabajo</a>
            </div>
            <div class="navbar__item" [ngsReveal]="{ origin: 'top', distance: '60px', delay: 700, duration: 600 }">
                <a href="#" class="navbar__link">Esp <i class='bx bxs-down-arrow' ></i></a>
            </div>
            <div class="navbar__item navbar-button" *ngIf="ruta != '/visualizador'" [ngsReveal]="{ origin: 'right', distance: '60px', delay: 200, duration: 600 }">
                <a routerLink="/visualizador" class="btn btn-primary">Abrir visualizador!</a>
            </div>
        </div>
    </div>
</header>