/*=============== HEADER ===============*/
.header{
    background-color: transparent;
    width: 100%;
    position: fixed;
    transition: .5s ease;
    z-index: var(--z-fixed);
}

.scroll-header {
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    -webkit-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    transition: .25s ease;
}
.scroll-header .header__content{
    height: var(--small-header);
}

.header__content {
    height: var(--big-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar .navbar__link {
    font-family: var(--primary-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    color: var(--dark-color);
    margin-right: 2rem;
}

.header__navbar .navbar__link:hover {
    color: var(--primary-color);
    transition: .2s;
}

.active-link::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 2rem;
    margin-top: .25rem;
    width: 2.5rem;
    height: .25rem;
    background: var(--primary-color);
}