/*=============== HEADER ===============*/
.header{
    background-color: transparent;
    width: 100%;
    position: fixed;
    transition: .5s ease;
    z-index: var(--z-fixed);
}

.scroll-header {
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    -webkit-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px -4px rgba(0,0,0,0.75);
    transition: .25s ease;
}

@media screen and (min-width: 767px) {
    .scroll-header .header__content{
        height: var(--small-header);
    } 
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toogle {
    display: block;
    background-color: transparent;
    color: var(--primary-color);
    font-size:var(--h1-font-size);
}

@media screen and (min-width: 767px) {
    .menu-toogle {
        display: none;
    }
}

.header__content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

@media screen and (min-width: 767px) {
    .header__content {
        height: var(--big-header);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    } 
}

.header-logo {
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
}

@media screen and (min-width: 767px) {
    .header__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
}

.navbar__item {
    margin: .5rem auto;
}

.header__navbar .navbar__link {
    font-family: var(--primary-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    color: var(--dark-color);
}

@media screen and (min-width: 767px) {
    .header__navbar .navbar__link {
        margin-right: 2rem;
    }
}

.header__navbar .navbar__link:hover {
    color: var(--primary-color);
    transition: .2s;
}

.active-link::after {
    content: '';
    display: block;
    border-radius: 2rem;
    margin: auto;
    width: 2.5rem;
    height: .25rem;
    background: var(--primary-color);
}

@media screen and (min-width: 767px) {
    .active-link::after {
        content: '';
        position: absolute;
        display: block;
        border-radius: 2rem;
        margin-top: .25rem;
        width: 2.5rem;
        height: .25rem;
        background: var(--primary-color);
    } 
}

