<div class="container">
    <!--Contenedor donde ira el titulo del grupo de trabajo-->
    <div class="equipo-trabajo__header">
      <div id="equipo-trabajo__header-section">
        <h2 class="section__title">El grupo de trabajo</h2>
        <br />
        <p>Somos un grupo multidisciplinario de alumnos y académicos</p>
      </div>
    </div>
    <!--Contenedor donde se pondran las fotos del grupo de trabajo-->
    <div class="equipo-trabajo__body" id="info-equipo">

      <div class="card img-integrante" style="width: 19rem" *ngFor="let integrante of Datos; let i = index">
        <img
          src="{{integrante.rutaImg}}"
          class="redonda"
          alt="Integrante {{i+1}}"
        />
        <div class="card-body">
          <h3 class="card-title">{{integrante.nombre}}</h3>
          <div class="btn-redes">
            <a href="#">
              <i class="bx bxl-facebook-circle"></i>
            </a>
            <a href="#">
              <i class="bx bxl-instagram-alt"></i>
            </a>
            <a href="#">
              <i class="bx bxl-twitter"></i>
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>