<div class="container">
  <!--Contenedor donde ira el titulo del grupo de trabajo-->
  <div class="equipo-trabajo__header">
    <div id="equipo-trabajo__header-section">
      <h2 class="section__title" [ngsReveal]="{ origin: 'top', delay: 200, reset: true }">El grupo de trabajo</h2>
      <br />
      <p>Somos un grupo multidisciplinario de alumnos y académicos</p>
    </div>
    <!--Contenedor donde se pondran las fotos del grupo de trabajo-->
    <div class="equipo-trabajo__body" id="info-equipo">

      <div class="card img-integrante" style="width: 19rem" *ngFor="let integrante of Datos; let i = index">
        <img
          src="{{integrante.rutaImg}}"
          class="redonda"
          alt="Integrante {{i+1}}"
        />
        <div class="card-body">
          <h3 class="card-title">{{integrante.nombre}}</h3>
          <div class="btn-redes">
            <a href="#">
              <i class="bx bxl-facebook-circle"></i>
            </a>
            <a href="#">
              <i class="bx bxl-instagram-alt"></i>
            </a>
            <a href="#">
              <i class="bx bxl-twitter"></i>
            </a>
          </div>
        </div>
      </div>
      
    </div>

    <div class="card img-integrante integrante-2" style="width: 19rem">
      <img
        src="https://i.pinimg.com/736x/96/c4/da/96c4da5776c9bd5c3bfdbbc9237ed42f.jpg"
        class="redonda"
        alt="Integrante 2"
      />
      <div class="card-body">
        <h3 class="card-title">Integrante 2</h3>
        <div class="btn-redes">
          <a href="#">
            <i class="bx bxl-facebook-circle"></i>
          </a>
          <a href="#">
            <i class="bx bxl-instagram-alt"></i>
          </a>
          <a href="#">
            <i class="bx bxl-twitter"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="card img-integrante integrante-3" style="width: 19rem">
      <img
        src="https://i.pinimg.com/originals/d0/ce/c9/d0cec983c42312e069dd211b2cc0d189.jpg"
        class="redonda"
        alt="Integrante 3"
      />
      <div class="card-body">
        <h3 class="card-title">Integrante 3</h3>
        <div class="btn-redes">
          <a href="#">
            <i class="bx bxl-facebook-circle"></i>
          </a>
          <a href="#">
            <i class="bx bxl-instagram-alt"></i>
          </a>
          <a href="#">
            <i class="bx bxl-twitter"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="card img-integrante integrante-4" style="width: 19rem">
      <img
        src="https://i.pinimg.com/474x/51/ce/86/51ce86c84b20164a07a5c861e9baccc2.jpg"
        class="redonda"
        alt="Integrante 4"
      />
      <div class="card-body">
        <h3 class="card-title">Integrante 4</h3>
        <div class="btn-redes">
          <a href="#">
            <i class="bx bxl-facebook-circle"></i>
          </a>
          <a href="#">
            <i class="bx bxl-instagram-alt"></i>
          </a>
          <a href="#">
            <i class="bx bxl-twitter"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="card img-integrante integrante-5" style="width: 19rem">
      <img
        src="https://i.pinimg.com/736x/af/cf/40/afcf40623f92fe698b41c7957cdb7a25.jpg"
        class="redonda"
        alt="Integrante 5"
      />
      <div class="card-body">
        <h3 class="card-title">Integrante 5</h3>
        <div class="btn-redes">
          <a href="#">
            <i class="bx bxl-facebook-circle"></i>
          </a>
          <a href="#">
            <i class="bx bxl-instagram-alt"></i>
          </a>
          <a href="#">
            <i class="bx bxl-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
