<div class="menu__content">
    <div class="menu__header">
        <button class="close-btn" (click)="closeClick()">
            <i class='bx bx-x'></i>
        </button>
    </div>
    <div class="menu__body">
        <div class="menu__default" *ngIf="!canvas">
            <h2 class="section__subtitle">{{"menu.titulo"|translate}}</h2>
            <p class="text-center mb-4">{{"menu.parrafo"|translate}}</p>
            <p class="text-center">{{"menu.parrafo2"|translate}}</p>
            <button class="btn btn-primary" (click)="openFile()">
                {{"menu.boton"|translate}}
            </button>
        </div>
        <div class="text-center" *ngIf="canvas">
            <button class="btn btn-primary" (click)="reloadPage()">
                {{'menu.otroArchivo'|translate}}
            </button>
        </div>
    </div>
</div>