/*=============== HERO BANNER ===============*/
.hero-banner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(200,202,203);
    background: -moz-linear-gradient(0deg, rgba(200,202,203,1) 0%, rgba(233,233,233,1) 20%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(200,202,203,1) 0%, rgba(233,233,233,1) 20%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(200,202,203,1) 0%, rgba(233,233,233,1) 20%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c8cacb",endColorstr="#ffffff",GradientType=1);
}

.hero-banner__canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("/assets/img/panther.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right 90%;
}

.hero-banner__content {
    width: 100%;
    z-index: 1;
}

.hero-banner__text {
    max-width: 50%;
}

.hero-banner__text h1 {
    font-family: var(--primary-font);
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
}

.hero-banner__text p {
    font-size: var(--h4-font-size);
    line-height: 1.75;
    margin-bottom: 1rem;
}

.hero-banner a {
    font-size: var(--h4-font-size);
}

/*=============== FEATURES SECTION ===============*/
.overflow-hidden {
    overflow: hidden;
}

.features__card-deck {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.feature__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: calc(33.3% - 4rem);
    min-height: 24rem;
    border-radius: .5rem;
    padding: 2.5rem 1.5rem;
    text-align: center;
    color: #C8CACB;
    background-color: var(--white-color);
    -webkit-box-shadow: 0px 10px 39px -15px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 10px 39px -15px rgba(0,0,0,0.54);
    box-shadow: 0px 10px 39px -15px rgba(0,0,0,0.54);
}

.feature__card::before {
    content: '';
    position: absolute;
    width: 2.75rem;
    height: .75rem;
    top: 1.5rem;
    right: 0;
    background-color: var(--primary-color);
}

.card-title {
    font-family: var(--secondary-font);
    font-weight: var(--font-bold);
    font-size: var(--h3-font-size);
    line-height: 2;
    color: var(--dark-color);
}

.card-icon {
    color: var(--dark-color);
    font-size: 6em;
}

/*=============== MAIN SECTION ===============*/
.main__card-text p {
    padding: 1rem 0;
    line-height: 2;
}

.main__card-image img{
    padding: 2rem;
}

@media screen and (min-width: 992px) {
    .main__card {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }

    .main__card-text,
    .main__card-text h3 {
        text-align: right;
        flex-basis: calc(50% - 2rem);
    }

    .main__card-image {
        flex-basis: calc(50% - 2rem);
    }

    .main__card:nth-child( even ) {
        flex-direction: row;
    }

    .main__card:nth-child( even ) .main__card-text,
    .main__card:nth-child( even ) .main__card-text h3 {
        text-align: left;
    }
}

/*=============== BANNER ===============*/
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-gradient);
    background-attachment: fixed;
    background-size: cover;
    min-height: 50vh;
}

.banner__content,
.banner__content h2 {
    text-align: center;
    color: var(--light-color);
}

.banner__content .section__title::after {
    background-color: var(--light-color);
}

.banner__content p {
    line-height: 2;
    max-width: 40rem;
    margin-bottom: 2rem;
}