<app-header></app-header>

<!-- HEROBANNER SECTION -->
<section id="hero-banner" class="hero-banner">
    <div class="hero-banner__content container" [ngsReveal]="{ origin: 'left', distance: '60px', delay: 500, duration: 800 }">
        <div class="hero-banner__text">
            <h1 class="hero-banner__title" [ngsReveal]="{ origin: 'bottom', distance: '60px', delay: 700, duration: 800 }">Conoce el nuevo visualizador VSyM</h1>
            <p>Visualiza algunos de los formatos disponibles: Red porosa, Particulas y Voronoi.</p>
            <a routerLink="/visualizador" class="hero-banner__btn btn btn-primary" [ngsReveal]="{ origin: 'top', distance: '60px', delay: 700, duration: 800 }">Comienza ahora!</a>
        </div>
    </div>
    <canvas class="hero-banner__canvas" [ngsReveal]="{ origin: 'right', distance: '60px', delay: 800, duration: 800 }"></canvas>
</section>
<!-- PARALLAX SECTION -->
<section class="parallax"></section>
<!-- FEATURES SECTION -->
<section id="features" class="features">
    <div class="features__content container section">
        <div class="features__card-deck">
            <div class="feature__card" [ngsReveal]="{ origin: 'bottom', distance: '60px', delay: 200, duration: 600, reset: true }">
                <div class="card__header">
                    <i class='card-icon bx bx-cube-alt' ></i>
                    <h3 class="card-title">Section Subtitle</h3>
                </div>
                <div class="card__body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero voluptatum culpa consequuntur!</p>
                    <div class="btn btn-primary">Click Here!</div>
                </div>
            </div>
            <div class="feature__card" [ngsReveal]="{ origin: 'bottom', distance: '60px', delay: 400, duration: 600, reset: true }">
                <div class="card__header">
                    <i class='card-icon bx bx-aperture'></i>
                    <h3 class="card-title">Section Subtitle</h3>
                </div>
                <div class="card__body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero voluptatum culpa consequuntur!</p>
                    <div class="btn btn-primary">Click Here!</div>
                </div>
            </div>
            <div class="feature__card" [ngsReveal]="{ origin: 'bottom', distance: '60px', delay: 600, duration: 600, reset: true }">
                <div class="card__header">
                    <i class='card-icon bx bx-bar-chart-alt' ></i>
                    <h3 class="card-title">Section Subtitle</h3>
                </div>
                <div class="card__body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero voluptatum culpa consequuntur!</p>
                    <div class="btn btn-primary">Click Here!</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PARALLAX SECTION -->
<section class="parallax"></section>
<!-- MAIN SECTION -->
<main class="main-section section" id="main-section">
    <div class="main__content container">
        <div class="main__header">
            <h2 class="section__title text-center" [ngsReveal]="{ origin: 'top', delay: 200, reset: true }">¿Qué es VisUAM?</h2>
        </div>
        <div class="main__body">
            <div class="main__card" [ngsReveal]="{ origin: 'left', distance: '60px', delay: 200, duration: 600, reset: true }">
                <div class="main__card-image">
                    <img src="assets/img/feature1.png" alt="Feature1 Image">
                </div>
                <div class="main__card-text">
                    <h3 class="section__subtitle">Visualiza desde un JSON</h3>
                    <p>Visualiza los formatos disponibles leyendo los datos desde un archivo JSON.</p>
                    <p>Al tener todos los datos en un archivo json se facilita su lectura, ademas de que este formato está bien estructurado y facil de comprender.</p>
                </div>
            </div>
            <div class="main__card" [ngsReveal]="{ origin: 'left', distance: '60px', delay: 200, duration: 600, reset: true }">
                <div class="main__card-image">
                    <img src="assets/img/feature2.png" alt="Feature1 Image">
                </div>
                <div class="main__card-text">
                    <h3 class="section__subtitle">Modelar Resultados</h3>
                    <p>El obtener resultados de sus investigacions y/o practicas en ocasiones requiere de una interpretación visual para hacer más sencilla su comprensión.</p>
                    <p>No basta con solo ver gráficas de sus datos, la interpretación visual es importante. </p>
                </div>
            </div>
            <div class="main__card" [ngsReveal]="{ origin: 'left', distance: '60px', delay: 200, duration: 600, reset: true }">
                <div class="main__card-image">
                    <img src="assets/img/feature3.png" alt="Feature1 Image">
                </div>
                <div class="main__card-text">
                    <h3 class="section__subtitle">¿Requieres gráficos estadísticos?</h3>
                    <p>Si el formato a visualizar lo permite, se pueden observar gráficas de algunos de sus datos.</p>
                    <p>Nuestro formato de particulas cuenta con esta posibilidad de ver graficos de barras y de pastel. </p>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- BANNER SECTION -->
<section class="banner"s>
    <div class="banner__content container" [ngsReveal]="{ origin: 'bottom' }">
        <h2 class="section__title">Empieza a usar el visualizador Ya!</h2>
        <p>Los miembros de la UAM pueden enviar sus resultados con la estrustura del archivo JSON acordada para poder utilizar el sitio.</p>
        <a href="visualizador.html" class="btn btn-primary">
            Abrir Visualizador
        </a>
    </div>
</section>


<!-- EQUIPO DE TRABAJO SECTION -->
<section class="equipo-trabajo__section section" id="equipo-trabajo__section">
  <app-equipo-section></app-equipo-section>
</section>

<!--  TECNOLOGIAS SECTION -->
<section id="tecnologias" class="section">
  <app-tecnologias-section></app-tecnologias-section>
</section>

<!-- FOOTER -->
<app-footer></app-footer>
