<app-header></app-header>

<!-- HEROBANNER SECTION -->
<section id="hero-banner" class="hero-banner">
    <div class="hero-banner__content container" [ngsReveal]="{ origin: 'left', distance: '60px', delay: 500, duration: 800 }">
        <div class="hero-banner__text">
            <h1 class="hero-banner__title" [ngsReveal]="{ origin: 'bottom', distance: '60px', delay: 700, duration: 800 }">{{"homePage.titulo"|translate}}</h1>
            <p>{{"homePage.parrafo"|translate}}</p>
            <a routerLink="/visualizador" class="hero-banner__btn btn btn-primary" [ngsReveal]="{ origin: 'top', distance: '60px', delay: 700, duration: 800 }">{{"homePage.link"|translate}}</a>
        </div>
    </div>
    <canvas class="hero-banner__canvas" [ngsReveal]="{ origin: 'right', distance: '60px', delay: 800, duration: 800 }"></canvas>
</section>
<!-- PARALLAX SECTION -->
<section class="parallax"></section>
<!-- FEATURES SECTION -->
<section id="features" class="features">
    <div class="features__content container section">
        <div class="features__card-deck">
            <div class="feature__card" [ngsReveal]="{ origin: 'bottom', distance: '60px', delay: 200, duration: 600, reset: true }">
                <div class="card__header">
                    <i class='card-icon bx bx-cube-alt' ></i>
                    <h3 class="card-title">{{"homePage.features.subtitulo1"|translate}}</h3>
                </div>
                <div class="card__body">
                    <p>{{"homePage.features.parrafo1"|translate}}</p>
                    <div class="btn btn-primary">Click Here!</div>
                </div>
            </div>
            <div class="feature__card" [ngsReveal]="{ origin: 'bottom', distance: '60px', delay: 400, duration: 600, reset: true }">
                <div class="card__header">
                    <i class='card-icon bx bx-aperture'></i>
                    <h3 class="card-title">{{"homePage.features.subtitulo2"|translate}}</h3>
                </div>
                <div class="card__body">
                    <p>{{"homePage.features.parrafo2"|translate}}</p>
                    <div class="btn btn-primary">Click Here!</div>
                </div>
            </div>
            <div class="feature__card" [ngsReveal]="{ origin: 'bottom', distance: '60px', delay: 600, duration: 600, reset: true }">
                <div class="card__header">
                    <i class='card-icon bx bx-bar-chart-alt' ></i>
                    <h3 class="card-title">{{"homePage.features.subtitulo3"|translate}}</h3>
                </div>
                <div class="card__body">
                    <p>{{"homePage.features.parrafo3"|translate}}</p>
                    <div class="btn btn-primary">Click Here!</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PARALLAX SECTION -->
<section class="parallax"></section>
<!-- MAIN SECTION -->
<main class="main-section section" id="main-section">
    <div class="main__content container">
        <div class="main__header">
            <h2 class="section__title text-center" [ngsReveal]="{ origin: 'top', delay: 200, reset: true }">{{"homePage.main.titulo"|translate}}</h2>
        </div>
        <div class="main__body">
            <div class="main__card" [ngsReveal]="{ origin: 'left', distance: '60px', delay: 200, duration: 600, reset: true }">
                <div class="main__card-image">
                    <img src="assets/img/feature1.png" alt="Feature1 Image">
                </div>
                <div class="main__card-text">
                    <h3 class="section__subtitle">{{"homePage.main.subtitulo"|translate}}</h3>
                    <p>{{"homePage.main.parrafo1"|translate}}</p>
                    <p>{{"homePage.main.parrafo2"|translate}}</p>
                </div>
            </div>
            <div class="main__card" [ngsReveal]="{ origin: 'left', distance: '60px', delay: 200, duration: 600, reset: true }">
                <div class="main__card-image">
                    <img src="assets/img/feature2.png" alt="Feature1 Image">
                </div>
                <div class="main__card-text">
                    <h3 class="section__subtitle">{{"homePage.main.subtitulo2"|translate}}</h3>
                    <p>{{"homePage.main.parrafo3"|translate}}</p>
                    <p>{{"homePage.main.parrafo4"|translate}}</p>
                </div>
            </div>
            <div class="main__card" [ngsReveal]="{ origin: 'left', distance: '60px', delay: 200, duration: 600, reset: true }">
                <div class="main__card-image">
                    <img src="assets/img/feature3.png" alt="Feature1 Image">
                </div>
                <div class="main__card-text">
                    <h3 class="section__subtitle">{{"homePage.main.subtitulo3"|translate}}</h3>
                    <p>{{"homePage.main.parrafo5"|translate}}</p>
                    <p>{{"homePage.main.parrafo6"|translate}}</p>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- BANNER SECTION -->
<section class="banner"s>
    <div class="banner__content container" [ngsReveal]="{ origin: 'bottom' }">
        <h2 class="section__title">{{"homePage.banner.titulo"|translate}}</h2>
        <p>{{"homePage.banner.parrafo"|translate}}</p>
        <a routerLink="/visualizador" class="btn btn-primary">
            {{"homePage.banner.link"|translate}}
        </a>
    </div>
</section>


<!-- EQUIPO DE TRABAJO SECTION -->
<section class="equipo-trabajo__section section" id="equipo-trabajo__section">
  <app-equipo-section></app-equipo-section>
</section>

<!--  TECNOLOGIAS SECTION -->
<section id="tecnologias" class="section">
  <app-tecnologias-section></app-tecnologias-section>
</section>

<!-- FOOTER -->
<app-footer></app-footer>
