<!--  TECNOLOGIAS SECTION -->
<section id="tecnologias" class="section">
  <div class="container">
      <!--Contenedor donde ira el titulo de las tecnologias-->
      <div class="tecnologias__header">
          <h2 class="section__title">Tecnologias Usadas</h2>
          <br>
          <p>Somos un grupo multidisciplinario de alumnos y académicos</p>
      </div>
      <!--FIN CONTENEDOR TITULO TECNOLOGIAS-->
      <!--Contenedor donde se pondran las fotos de las tecnologias-->
      <div class="tecnologias__body">  
          <div class="tecnologias__item">
              <div class="logo-tecnologia">
                  <img src="https://aws1.discourse-cdn.com/standard17/uploads/threejs/original/2X/e/e4f86d2200d2d35c30f7b1494e96b9595ebc2751.png" alt="Three JS" class="redonda">
              </div>
          </div>

          <div class="tecnologias__item">
              <div class="logo-tecnologia">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" alt="Angular" class="redonda">
              </div>
          </div>

          <div class="tecnologias__item">
              <div class="logo-tecnologia">
                  <img src="https://www.chartjs.org/img/chartjs-logo.svg" alt="Chart JS" class="redonda">
              </div>
          </div>
      </div>
  </div>
</section>