<!--  TECNOLOGIAS SECTION -->
<div class="container">
  <!--Contenedor donde ira el titulo de las tecnologias-->
  <div class="tecnologias__header">
    <h2
      class="section__title"
      [ngsReveal]="{ origin: 'top', delay: 200, reset: true }"
    >
      Tecnologias Usadas
    </h2>
    <br />
    <p>Somos un grupo multidisciplinario de alumnos y académicos</p>
  </div>
  <!--FIN CONTENEDOR TITULO TECNOLOGIAS-->
  <!--Contenedor donde se pondran las fotos de las tecnologias-->
  <div class="tecnologias__body">
    <div
      class="tecnologias__item"
      *ngFor="let ruta of rutasImgTec; let i = index"
    >
      <div class="logo-tecnologia">
        <img src="{{ ruta.rutaImg }}" alt="{{ ruta.nombre }}" class="redonda" />
      </div>
    </div>
  </div>
</div>