<!-- SITEFOOTER -->
<footer class="footer">
    <div class="footer__content container">
        <div class="footer-logo">
            Vis<span class="text-primary">UAM</span>
        </div>
        <div class="footer__navbar">
            <div class="navbar__item" id="item-1">
                <a href="index.html" class="navbar__link active-link">{{"footer.Inicio"|translate}}</a>
            </div>
            <div class="navbar__item" id="item-2">
                <a href="#main-section" class="navbar__link">{{"footer.Que"|translate}}</a>
            </div>
            <div class="navbar__item" id="item-3">
                <a href="#equipo-trabajo__section" class="navbar__link">{{"footer.GrupoTrabajo"|translate}}</a>
            </div>
            <div class="navbar__item" id="item-4">
                <a href="#" class="navbar__link">Esp <i class='bx bxs-down-arrow' ></i></a>
            </div>
            <div class="navbar__item navbar-button">
                <a routerLink="/visualizador" class="btn btn-primary">{{"footer.Abrir"|translate}}</a>
            </div>
        </div>
    </div>
</footer>