<footer class="footer">
    <div class="footer__content container">
        <h2 class="section__title">VisUAM</h2>
        <div class="header__navbar">
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="#"><i class='bx bxs-home'></i> Inicio </a>
                </li>
                <li class="navbar__item">
                    <a href="#"><i class='bx bxs-info-circle' ></i> ¿Qué es? </a>
                </li>
                <li class="navbar__item">
                    <a href="#"><i class='bx bxs-user' ></i> Grupo de Trabajo </a>
                </li>
                <li class="navbar__item">
                    <a href="#">Esp <i class='bx bxs-down-arrow' ></i> </a>
                </li>
                <li class="navbar__item">
                    <a href="visualizador.html" class="btn btn-primary">
                        Abrir Visualizador
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>