/*=============== FOOTER ===============*/
.footer {
    background: var(--bg-gradient);
    background-attachment: fixed;
    background-size: cover;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
}

@media screen and (min-width: 767px) {
    .footer__content {
        height: var(--big-header);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.5rem;
    } 
}

.footer-logo {
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
}

.footer-logo span {
    color: var(--white-color);
}

.footer__navbar {
    width: 50%;
}

@media screen and (min-width: 767px) {
    .footer__navbar {            
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
}

.navbar__item {
    margin: .5rem auto;
}

.footer__navbar .navbar__link {
    font-family: var(--primary-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    color: var(--white-color);
}

.footer__navbar .navbar__link:hover {
    color: var(--primary-color);
    transition: .2s;
}